.emp-status-dropdown {
  /* border: 0.6rem solid red !important; */
  width: 18rem;
  padding: 0.6rem 0.8rem;
  margin: 1.2rem 3rem 1.2rem 0rem;
  border-radius: 3px;
  border: none;
}

.selectDropdown {
    border-bottom: 0.2rem solid #6600cc !important;
}
.dropdown-item {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.dropdown-item:active {
  background-color: #e8d6fa !important;
  color: black !important;
}

.noData {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}