.case-add-btn {
    /* align-self: flex-end; */
    /* display: block; */
    width: 15%;
    padding: 0.6rem 0.8rem;
    margin: 1.2rem 3rem;
    font-size: 18px;
    border: 1rem solid red;
    border-radius: 3px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #0D003F;
    color: white;
    font-weight: bold;
}