[submodule "back-end/contracts/lib/forge-std"]
	path = back-end/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "back-end/contracts/lib/openzeppelin-contracts"]
	path = back-end/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
