.case-nav-btn {
  align-self: flex-end;
  display: block;
  width: auto;
  padding: 0.6rem 0.8rem;
  font-size: 20px;
  border-radius: 3px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #0d003f;
  color: white;
  font-weight: bold;
}

.row-flex{
    display: flex;
    justify-content: space-around
}