/*---------------login css------------------*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: white;
}

.dropdown-rank {
  /* border: 0.2rem solid red; */
  width: auto;
  margin-bottom: 2rem !important;
}

.login-container {
  /* border: 0.2rem solid black; */
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-button {
  display: block;
  width: 100%;
  padding: 0.6rem 0.8rem;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  text-align: center;
  cursor: pointer;
  /* background-color: #6600cc; */
  background-color: white;
  box-shadow: 0px 0px 15px #6600cc;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.login-button:hover {
  background-color: #0d003f;
  box-shadow: 0px 15px 20px #6600cc;
  color: #fff;
  transform: translateY(-7px);
}

.login-button:focus {
  background-color: #200980;
  box-shadow: 0px 15px 20px #6600cc;
  color: #fff;
  transform: translateY(-7px);
}

.login-welcome {
  color: #0d003f;
  padding-bottom: 20px;
}

.page-dropdown-item-login {
  /* border-bottom: 0.32rem solid black; */
  /* border-bottom: 0.2rem solid #6600cc !important; */
  /* font-size: large; */
  white-space: normal !important;
  word-wrap: break-word !important;
}

.page-dropdown-item-login:active {
  background-color: #e8d6fa !important;
  color: black !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input {
  border: 1px solid #ccc;
  outline: none !important;
  background-color: white;
}

/* Style the checkmark */
.form-check-input:checked {
  border: none !important;
  background-color: #6600cc;
}